
<div class="fullsize">
	{{#svg-viewer as |camera updateList|}}
		<rect x=0 y=0 width={{camera.viewWidth}} height={{camera.viewHeight}} />
		{{svg-grid camera=camera updateList=updateList}}
		{{#svg-viewport camera=camera}}
			{{#svg-stage camera=camera updateList=updateList as |images|}}
				{{#each images as |image|}}
					{{svg-image 
						baseUrl="/images/01"
						x=image.x 
						y=image.y 
						width=image.w 
						height=image.h
						updateList=updateList
					}}
				{{/each}}
			{{/svg-stage}}
		{{/svg-viewport}}
	{{/svg-viewer}}

	{{outlet}}
</div>
