
<div class="fullsize">
	{{#svg-viewer as |camera|}}
		<rect x=0 y=0 width={{camera.viewWidth}} height={{camera.viewHeight}} />
		{{svg-grid camera=camera}}

		{{#svg-viewport camera=camera}}
			{{#svg-stage camera=camera}}

				{{svg-image href="/images/01.jpg" x=100 y=100 width=320 height=240}}
				<circle
					cx=100
					cy=100
					r=10
					fill="white"
				/>

			{{/svg-stage}}
		{{/svg-viewport}}
	{{/svg-viewer}}

	{{outlet}}
</div>
